body{
    color: white;
    background-color: black;
    font-family:  serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none; 
    align-items: center;
    padding: 16px;
}


nav a{
    color: white;
    text-decoration: none;
}

footer a{
    color: white;
    text-decoration: none;
}


div main section a {
     color: blue;
}



header img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid #66CDAA;
}

.center{
    text-align: center;
}

h1{
    color: #66CDAA;
}

footer img {
    width: 30px;
    height: 30px;
}
footer {
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin: 2px;
}

.container{
    padding: 0px 40px;
    width: 95%;
    margin: 0;
}

nav a:hover{
    color: #66CDAA;
}

 nav {
    background-color: white;
}

li a{
    color: black;
}